*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#center {
    text-align: center;

}
.modal-content {
    width: 65%;
    margin: auto;
}
.form-group {
    margin-left: 62px;
    width: 200px;
}